<div class="section-video-shorts">
    <div class="title-container">
        <span class="separator-title"></span>
        <h2>
            Confira nossos shorts
        </h2>
        <span class="separator-title"></span>
    </div>
    {# <span id="titulo-vitrine-shorts">Confira nossos shorts</span> #}
    <div class="shorts-container swiper-shorts">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <iframe title="Video shorts youtube 1" class="iframe-shorts" height="523" data-src="{{settings.link_video_shorts_1}}"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    ></iframe>
            </div>
            <div class="swiper-slide">
                <iframe title="Video shorts youtube 2" class="iframe-shorts" height="523" data-src="{{settings.link_video_shorts_2}}"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    ></iframe>
            </div>
            <div class="swiper-slide">
                <iframe title="Video shorts youtube 3" class="iframe-shorts" height="523" data-src="{{settings.link_video_shorts_3}}"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    ></iframe>
            </div>
            <div class="swiper-slide">
                <iframe title="Video shorts youtube 4" class="iframe-shorts" height="523" data-src="{{settings.link_video_shorts_4}}"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    ></iframe>
            </div>
            {% if settings.link_video_shorts_5 %}
            <div class="swiper-slide">
                <iframe title="Video shorts youtube 5" class="iframe-shorts" height="523" data-src="{{settings.link_video_shorts_5}}"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    ></iframe>
            </div>
            {% endif %}

            {% if settings.link_video_shorts_6 %}
            <div class="swiper-slide">
                <iframe title="Video shorts youtube 6" class="iframe-shorts" height="523" data-src="{{settings.link_video_shorts_6}}"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    ></iframe>
            </div>
            {% endif %}

            {% if settings.link_video_shorts_7 %}
            <div class="swiper-slide">
                <iframe title="Video shorts youtube 7" class="iframe-shorts" height="523" data-src="{{settings.link_video_shorts_7}}"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    ></iframe>
            </div>
            {% endif %}
            {% if settings.link_video_shorts_8 %}
            <div class="swiper-slide">
                <iframe title="Video shorts youtube 8" class="iframe-shorts" height="523" data-src="{{settings.link_video_shorts_8}}"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    ></iframe>
            </div>
            {% endif %}
            {% if settings.link_video_shorts_9 %}
            <div class="swiper-slide">
                <iframe title="Video shorts youtube 9" class="iframe-shorts" height="523" data-src="{{settings.link_video_shorts_9}}"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    ></iframe>
            </div>
            {% endif %}
            {% if settings.link_video_shorts_10 %}
            <div class="swiper-slide">
                <iframe title="Video shorts youtube 10" class="iframe-shorts" height="523"data- src="{{settings.link_video_shorts_10}}"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    ></iframe>
            </div>
            {% endif %}
        </div>
        <div class="swiper-pagination" style="position:relative"></div>
        <div class="swiper-button-prev shorts"></div>
        <div class="swiper-button-next shorts"></div>
    </div>
</div>